<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Каталог продуктов</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>
<body>
<div class="container-fluid text-center">
    <div class="p-2">
        <h2>Каталог продуктов</h2>
    </div>

    <form class="m-2" th:action="@{show/${param.id}}" method="get" >
        <input type="text" name="id" placeholder="Введите Id товара... "/>
        <input type="submit"  value="Поиск" />
    </form>

    <div class="p-2">
        <a class="h3" th:href="@{/products/new}">Добавить новый продукт</a>
    </div>
    <table class="table table-bordered">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Название</th>
            <th>Описание</th>
            <th>Цена</th>
            <th>Дата создания</th>
            <th>Дата модификации</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            <th:block th:each="product : ${listProducts}">
                <tr>
                    <td>[[${product.id}]]</td>
                    <td>[[${product.name}]]</td>
                    <td>[[${product.specification}]]</td>
                    <td>[[${product.price}]]</td>
                    <td>[[${product.dateOfCreate}]]</td>
                    <td>[[${product.dateOfChange}]]</td>
                    <td>
                        <a th:href="@{'/edit/' + ${product.id}}">Изменить</a>
                    </td>
                    <td>
                        <a th:href="@{'/delete/' + ${product.id}}">Удалить</a>
                    </td>
                </tr>
            </th:block>
        </tbody>
    </table>
    </h2>
</div>
</body>
</html>
